<div class="container py-5">
    <h1 class="row">Seu Carrinho</h1>
    {{#if carrinho.length}}
    <ul class="row">
        {{#each carrinho}}
        <li class="col-12 my-3">
            <strong>Nome:</strong> {{this.nome}} <br>
            <strong>Preço:</strong> R$ {{this.preco}} <br>
            <strong>Descrição:</strong> {{this.descricao}} <br>
            <strong>Quantidade:</strong> {{this.quantidade}} <br>
            <button class="btn btn-primary mt-2">
                <a href="/comprar/{{this.id}}" class="text-white text-decoration-none">Comprar</a>
            </button>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="row">Seu carrinho está vazio.</p>
    {{/if}}
</div>