<h1>Seu Carrinho</h1>
    {{#if carrinho.length}}
        <ul>
            {{#each carrinho}}
                <li>
                    Nome: {{this.nome}} <br>
                    Preço: R$ {{this.preco}} <br>
                    Descrição: {{this.descricao}} <br>
                    Quantidade: {{this.quantidade}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Seu carrinho está vazio.</p>
    {{/if}}