<div class="container py-5">
    <h2>Cardápio</h2>
    <ul class="list-unstyled">
        {{#each cardapio}}
        <li class="mb-4">
            <h3>{{this.nome}}</h3>
            <p>Preço: R$ {{this.preco}}</p>
            <p>{{this.descricao}}</p>
            <form action="/carrinho/adicionarNoCarrinho" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="hidden" name="nome" value="{{this.nome}}">
                <input type="hidden" name="preco" value="{{this.preco}}">
                <input type="hidden" name="descricao" value="{{this.descricao}}">
                <input type="hidden" name="quantidade" value="1">
                <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
            </form>
        </li>
        {{/each}}
    </ul>
</div>