<div class="container py-5">
    <!-- Título do Produto -->
    <div class="row">
        <h1 class="text-left">{{produto.nome}}</h1>
    </div>

    <!-- Informações do Produto -->
    <ul class="row list-unstyled">
        <li class="col-12 my-3">
            <p><strong>Nome:</strong> {{produto.nome}}</p>
            <p><strong>Preço:</strong> R$ {{produto.preco}}</p>
            <p><strong>Descrição:</strong> {{produto.descricao}}</p>
        </li>

        <!-- Botão Fazer Pedido -->
        <div class="col-12 col-md-6 mt-3">
            <form action="/comprar/{{produto.id}}" method="GET">
                <button type="submit" class="btn btn-primary w-100">Fazer pedido</button>
            </form>
        </div>

        <!-- Botão Adicionar ao Carrinho -->
        <div class="col-12 col-md-6 mt-3">
            <form action="/carrinho/adicionarNoCarrinho" method="POST">
                <input type="hidden" name="id" value="{{produto.id}}">
                <input type="hidden" name="nome" value="{{produto.nome}}">
                <input type="hidden" name="preco" value="{{produto.preco}}">
                <input type="hidden" name="descricao" value="{{produto.descricao}}">
                <input type="hidden" name="quantidade" value="1">
                <button type="submit" class="btn btn-success w-100">Adicionar ao Carrinho</button>
            </form>
        </div>
    </ul>
</div>